@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: 'Urbanist', sans-serif;
    
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #191A20;

}

.btn {
    @apply bg-gray-800 hover:bg-gray-700 text-gray-100 font-medium px-7 py-1 rounded-md
}

.active .step {
    @apply bg-emerald-400 
}