@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0 ;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    
}
/* Color de letras */



/* Fin Color de letras */